.filter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* border: 2px solid green; */
}
.filter button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 5px 20px;
    font-size: medium;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: 0.5s;
    background-color: #0091ffc9;
}
.filter button:hover{
    background-color: #0091fffe;
}
button span{
    margin-left: 8px;
}