.forget_btn{
  outline: none;
  border: none;
  padding: 8px 30px;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 2px;
  background-color: rgba(32, 106, 218, 0.753);
  transition: 0.5s;
  cursor: pointer;
}
.forget_btn:hover{
  color: #fff;
  background-color: rgb(32, 106, 218);
}